.aws-sam/
.old/
node_modules/
.env

# VS things
bin/
obj/
.vs/
./src/Proxy/**/Properties/launchSettings.json
./src/Proxy/Commands/Proxy.Command.Status/Properties/launchSettings.json
command.json
Makefile